.ico-endtoend::before {
  background-image: url("../img/icons/endtoend.png");
}

.ico-wegrow::before {
  background-image: url("../img/icons/wegrow.png");
}

.ico-integration::before {
  background-image: url("../img/icons/integration.png");
}

.ico-costs::before {
  background-image: url("../img/icons/costs.png");
}

.ico-compliance::before {
  background-image: url("../img/icons/compliance.png");
}

.ico-report::before {
  background-image: url("../img/icons/report.png");
}

.ico-video::before {
  background-image: url("../img/icons/video.png");
}

.ico-insurance::before {
  background-image: url("../img/icons/insurance.png");
}

.ico-software::before {
  background-image: url("../img/icons/software.png");
}

.ico-nestle::before {
  background-image: url("../img/icons/nestle.png");
}

.ico-zendesk::before {
  background-image: url("../img/icons/zendesk.png");
}

.ico-servicechannel::before {
  background-image: url("../img/icons/servicechannel.png");
}

.ico-mavenlink::before {
  background-image: url("../img/icons/mavenlink.png");
}

.ico-atlassian::before {
  background-image: url("../img/icons/atlassian.png");
}

.ico-fourth::before {
  background-image: url("../img/icons/fourth.png");
}

.ico-costco::before {
  background-image: url("../img/icons/costco.png");
}

.ico-csc::before {
  background-image: url("../img/icons/csc.png");
}

.ico-demandbase::before {
  background-image: url("../img/icons/demandbase.png");
}

.ico-discovery::before {
  background-image: url("../img/icons/discovery.png");
}

.ico-doubleverify::before {
  background-image: url("../img/icons/doubleverify.png");
}

.ico-fcm::before {
  background-image: url("../img/icons/fcm.png");
}

.ico-hearst::before {
  background-image: url("../img/icons/hearst.png");
}

.ico-techtarget::before {
  background-image: url("../img/icons/techtarget.png");
}

.ico-forrester-oval::before {
  background-image: url("../img/icons/forrester-oval.png");
}
