html, body {
  height: 100%;
}

body {
  margin: 0;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  height: 30px;
  padding: 10px 20px;
  line-height: 30px;
  background-color: silver;
}

.body {
  padding: 20px;
}

.layout-fixed .header,
.layout-sticky .header,
.layout-absolute .header {
  top: 0;
}
.layout-fixed .footer,
.layout-sticky .footer,
.layout-absolute .footer {
  bottom: 0;
}

.layout-fixed .header,
.layout-fixed .footer {
  position: fixed;
  left: 0;
  right: 0;
}
.layout-fixed .body {
  margin-top: 50px;
  margin-bottom: 50px;
}

.layout-sticky .header,
.layout-sticky .footer {
  position: -webkit-sticky;
  position: sticky;
}

.layout-flex {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.layout-flex .header,
.layout-flex .footer {
  flex: 0 0 auto;
}
.layout-flex .body {
  flex: 1 1 auto;
  overflow: auto;
}

.layout-absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.layout-absolute .header,
.layout-absolute .footer {
  position: absolute;
  left: 0;
  right: 0;
}

input {
  font-size: 16px;
}
