/*
For now build using `sass static/css/custom.scss static/css/custom.css`
*/
/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://webfonts.fonts.com
*/
@font-face {
  src: url("../fonts/Avenir-LT-W02-55-Roman.eot?#iefix");
  src: url("../fonts/Avenir-LT-W02-55-Roman.eot?#iefix") format("eot"), url("../fonts/Avenir-LT-W02-55-Roman.woff") format("woff"), url("../fonts/Avenir-LT-W02-55-Roman.ttf") format("truetype"), url("../fonts/Avenir-LT-W02-55-Roman.svg#Avenir-LT-W02-55-Roman") format("svg");
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400; }
@font-face {
  src: url("../fonts/Avenir-LT-W02-85-Heavy.eot?#iefix");
  src: url("../fonts/Avenir-LT-W02-85-Heavy.eot?#iefix") format("eot"), url("../fonts/Avenir-LT-W02-85-Heavy.woff") format("woff"), url("../fonts/Avenir-LT-W02-85-Heavy.ttf") format("truetype"), url("../fonts/Avenir-LT-W02-85-Heavy.svg#Avenir-LT-W02-85-Heavy") format("svg");
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 700; }
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/Avenir-LT-W02-55-Roman.svg#Avenir-LT-W02-55-Roman") format("svg");
    font-style: normal;
    font-weight: 400; }
  @font-face {
    font-family: 'Avenir';
    src: url("../fonts/Avenir-LT-W02-85-Heavy.svg#Avenir-LT-W02-85-Heavy") format("svg");
    font-style: normal;
    font-weight: 700; } }
body,
h1,
h2,
h3,
h4 {
  font-family: avenir, "Helvetica Neue", arial, sans-serif; }

body,
.mainContainer {
  color: #464e56;
  font-size: 16px;
  line-height: 137.5%; }

h1,
h2,
h3,
h4 {
  padding: 0;
  color: #000;
  line-height: normal; }

h1 {
  margin: 1rem 0 3rem 0;
  font-size: 3.125rem;
  font-weight: bold; }
  h1 small {
    margin: 0;
    font-size: 2rem;
    font-weight: normal;
    line-height: 2.75rem; }

h2 {
  margin: 2rem 0;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 3.4375rem; }

h3 {
  margin: 1.9rem 0;
  font-size: 1.5rem;
  font-weight: bold; }

p {
  margin: 0.7rem 0;
  padding: 0; }

strong {
  font-weight: bold; }

ul {
  padding-left: 22px; }

li {
  margin: 10px 0; }

*,
::before,
::after {
  box-sizing: border-box; }

.responsiveImage {
  background-repeat: no-repeat;
  background-size: cover; }

@media only screen and (max-width: 735px) {
  .noMobile {
    display: none; } }

.wrapper,
.separateOnPageNav.doc .wrapper,
.separateOnPageNav .headerWrapper.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px; }

blockquote {
  overflow: hidden;
  padding: 0 8px 0 10px;
  border: none;
  border-radius: 3px;
  color: #f18600;
  background: rgba(250, 218, 35, 0.15); }
  blockquote a {
    color: #f18600;
    text-decoration: underline; }
  blockquote p {
    margin: 4px 0; }

.mainContainer .wrapper blockquote a {
  text-decoration: underline; }

table {
  display: block;
  max-width: 100%;
  overflow: auto;
  border: none;
  background-color: transparent; }
  table tr th,
  table tr td {
    min-width: 100px;
    padding: 0.3rem;
    border: none;
    font-family: avenir, "Helvetica Neue", arial, sans-serif;
    font-size: 0.9rem;
    font-weight: lighter;
    line-height: 1.3rem; }
    table tr th code,
    table tr td code {
      color: #00c18d; }
  table tr th {
    text-transform: none; }
  table thead {
    border: none; }
    table thead tr:nth-of-type(odd) {
      background-color: transparent; }
    table thead tr th {
      color: #94a1ad;
      font-size: 0.8rem; }
  table tbody tr:nth-of-type(odd) {
    background-color: rgba(221, 228, 235, 0.4); }

.versionsContainer .post {
  padding-right: 20px;
  padding-left: 20px; }
  .versionsContainer .post h2 {
    margin-top: 1rem; }
  .versionsContainer .post table {
    min-width: 500px; }
    .versionsContainer .post table tbody th {
      width: 150px; }
    @media only screen and (min-width: 736px) {
      .versionsContainer .post table {
        min-width: 500px; } }
    @media only screen and (max-width: 735px) {
      .versionsContainer .post table {
        width: 100%; } }
@media only screen and (min-width: 1025px) {
  .versionsContainer {
    margin-right: 260px;
    margin-left: 326px; } }

@media only screen and (min-width: 736px) {
  .mainContainer .post:first-child,
  .mainContainer .posts:first-child,
  .mainContainer .lonePost:first-child,
  .mainContainer .wrapper .post:first-child,
  .mainContainer .wrapper .posts:first-child,
  .mainContainer .wrapper .lonePost:first-child,
  .blogContainer .post:first-child,
  .blogContainer .posts:first-child,
  .blogContainer .lonePost:first-child,
  .blogContainer .wrapper .post:first-child,
  .blogContainer .wrapper .posts:first-child,
  .blogContainer .wrapper .lonePost:first-child {
    padding-top: 0; } }

@media only screen and (max-width: 360px) {
  .small-up {
    display: none; } }

@media only screen and (min-width: 736px) {
  .medium-down {
    display: none; } }

@media only screen and (max-width: 735px) {
  .medium-up {
    display: none; } }

@media only screen and (min-width: 1025px) {
  .large-down {
    display: none; } }

@media only screen and (max-width: 1024px) {
  .large-up {
    display: none; } }

.header {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0 20px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background: #fdfdfd; }

.header-fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0; }
  .header-fixed + * {
    margin-top: 64px; }

.logo {
  display: block;
  width: 120px;
  height: 35px;
  margin-top: -4px;
  opacity: 0.9; }
  .logo:hover {
    opacity: 1; }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

body,
.mainContainer {
  background: #fafafa; }

.docMainWrapper.wrapper {
  flex: 1 0 auto;
  margin: 0 auto; }
  @media only screen and (min-width: 736px) {
    .docMainWrapper.wrapper {
      padding-top: 40px;
      padding-left: 0; } }

@media only screen and (min-width: 1025px) {
  .doc.separateOnPageNav.sideNavVisible .navPusher .mainContainer {
    padding-left: 20px; } }

code {
  font-size: 80%; }

code,
.hljs {
  display: block;
  overflow-x: auto;
  box-shadow: none;
  font-family: "SFMono-Regular",source-code-pro,Menlo,Monaco,Consolas,"Roboto Mono","Droid Sans Mono","Liberation Mono",Consolas,"Courier New",Courier,monospace;
  font-size: 13px;
  word-break: break-word; }

.hljs,
.hljs-subst {
  color: #464e56; }

.hljs-comment {
  color: #94a1ad; }

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: #e54d42; }

.hljs-title,
.hljs-section {
  color: #aa2117; }

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #e9665d; }

.hljs-literal,
.hljs-attr,
.hljs-meta {
  color: #00c18d; }

.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: #008460; }

.hljs-meta {
  color: #0f86aa; }

.hljs-meta-string,
.hljs-name {
  color: #14b2e2; }

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold; }

.code-unimportant {
  color: #979797;
  font-size: 11px; }

.button {
  border: none;
  text-transform: none;
  text-decoration: none; }
  .button:hover, .button:focus, .button:active {
    color: #464e56;
    background: transparent; }

.button-link {
  text-decoration: underline; }

a {
  color: #14b2e2;
  text-decoration: none;
  transition: all 0.2s; }
  a:hover, a:focus, a:active {
    color: #464e56;
    text-decoration: underline; }

.button-more-charts {
  position: relative;
  top: 2px;
  display: inline-block;
  padding: 6px 15px;
  border: 1px solid #b0beca;
  border-radius: 100px;
  color: #6c7581;
  font-size: 14px;
  line-height: 22px; }
  .button-more-charts::before {
    content: '+';
    position: relative;
    display: inline-block;
    margin-top: -1px;
    margin-right: 7px;
    color: #97A1AE;
    font-size: 20px;
    font-weight: bold;
    vertical-align: top; }
  .button-more-charts:hover, .button-more-charts:focus, .button-more-charts:active {
    border-color: #94a1ad;
    text-decoration: none; }

footer {
  flex: 0 0 auto;
  padding: 1rem 0;
  box-shadow: none;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  background-color: #404040; }
  footer .copyright {
    color: rgba(255, 255, 255, 0.8); }
    footer .copyright a {
      color: inherit;
      text-decoration: underline; }
      footer .copyright a:hover, footer .copyright a:active, footer .copyright a:focus {
        color: #fff; }

.homeSplashFade {
  position: relative;
  overflow: hidden;
  padding-bottom: 0;
  box-shadow: inset 0 0 13px 0 rgba(0, 0, 0, 0.07);
  color: #fff;
  text-align: center;
  background-image: linear-gradient(-180deg, rgba(20, 178, 226, 0) 0%, rgba(0, 193, 141, 0.79) 100%);
  background-position: center; }
  .homeSplashFade::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 24px;
    opacity: 0.05;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.52) 77%, #000 100%); }
  .homeSplashFade .homeSplashFadeBg {
    position: absolute;
    top: -15%;
    right: 0;
    bottom: -15%;
    left: 0;
    background-image: url("../img/homepage/splash-banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    transform: translate3d(0, -10.5%, 0);
    transition: transform 1ms; }

.projectTitle {
  margin-top: 4.68rem;
  color: inherit;
  font-weight: bold; }
  .projectTitle small {
    display: block;
    margin: 1rem 0;
    font-weight: bold; }

.projectDescription {
  margin: 1.25rem;
  font-size: 2rem;
  line-height: 2.75rem; }

.homeContainer .button,
.homeContainer .button-link {
  display: inline-block;
  margin: 1rem auto; }
.homeContainer .button {
  padding: 0.7rem 4.1rem;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s; }
  .homeContainer .button:hover, .homeContainer .button:focus, .homeContainer .button:active {
    text-decoration: none !important;
    background-color: rgba(0, 0, 0, 0.35); }
.homeContainer .button-link {
  color: rgba(255, 255, 255, 0.8);
  font-size: 1rem; }
  .homeContainer .button-link:hover, .homeContainer .button-link:focus, .homeContainer .button-link:active {
    color: rgba(255, 255, 255, 0.9); }
.homeContainer .homeWrapper {
  position: relative;
  padding-bottom: 369px; }
  @media only screen and (max-width: 735px) {
    .homeContainer .homeWrapper {
      padding-bottom: 40%; } }

.promoSection {
  position: static; }
  .promoSection::before, .promoSection::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center bottom;
    background-repeat: no-repeat; }
  .promoSection::before {
    height: 318px;
    background-image: url("../img/homepage/splash-bottom-image.png");
    background-size: contain; }
  .promoSection::after {
    height: 369px;
    background-image: url("../img/homepage/splash-bottom.svg"); }
  .promoSection .promoRow .pluginRowBlock {
    display: block; }

.homepage-gradient {
  background-image: linear-gradient(-130deg, #14b2e2 0%, #00c18d 100%); }

.getStartedSection {
  padding: 3rem 1.25rem 1rem;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  text-align: center; }
  .getStartedSection h2 {
    color: #fff; }

.backgroundBlock-white {
  background-color: #fff; }

.backgroundBlock-gray {
  background-color: #fafafa; }

.social-buttons {
  display: inline-block;
  padding: 2rem 0;
  margin: 3rem auto 0.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff; }
  .social-buttons:only-child {
    margin-top: 0;
    border-top: none; }
  .social-buttons h4,
  .social-buttons a {
    height: 1.875rem;
    display: inline-block;
    color: inherit;
    line-height: 1.875rem;
    vertical-align: middle; }
    @media only screen and (max-width: 735px) {
      .social-buttons h4,
      .social-buttons a {
        display: block;
        text-align: center; } }
  .social-buttons h4 {
    font-size: 1.1rem;
    font-weight: bold; }
  @media only screen and (max-width: 360px) {
    .social-buttons {
      width: 100%; } }
  @media only screen and (min-width: 361px) {
    .social-buttons {
      min-width: 300px; } }

.social-button {
  margin: 0 0 0 2.5rem; }
  .social-button::before {
    content: '';
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    margin: -0.1rem 0.6rem 0 0;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.9;
    transition: all 0.2s; }
  .social-button:hover::before, .social-button:focus::before, .social-button:active::before {
    opacity: 1; }
  .social-button.github::before {
    background-image: url("../img/github-logo.png"); }
  .social-button.stackoverflow::before {
    background-image: url("../img/stackoverflow-logo.png"); }
  .social-button.twitter::before {
    background-image: url("../img/twitter-logo.png"); }
  @media only screen and (max-width: 735px) {
    .social-button {
      margin: 1rem 0; } }

.highlight-section {
  padding: 4.9rem 0 6.1rem;
  color: #fff;
  background: #3e3e3e; }
  .highlight-section .wrapper {
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 735px) {
      .highlight-section .wrapper {
        flex-direction: column; } }

.highlight-item {
  flex: 1 0 0;
  padding: 0 2rem;
  text-align: center; }
  .highlight-item h3 {
    color: inherit; }

.main-visualization {
  width: 100%;
  margin: 3rem 0;
  padding: 0 2rem; }

.featuresListWrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap; }
  @media only screen and (max-width: 735px) {
    .featuresListWrapper {
      flex-direction: column; } }

.featuresList {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  color: #979797; }
  .featuresList:last-child,
  .featuresList:last-child .featuresListItem:last-child {
    margin-right: 0; }

.featuresListTitle {
  flex: 0 0 auto;
  margin-bottom: 1rem;
  color: inherit;
  font-size: 0.75rem;
  font-weight: normal; }

.featuresListList {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex: 1 1 auto;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none; }
  @media only screen and (max-width: 735px) {
    .featuresListList {
      flex-wrap: wrap; } }

.featuresListItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 0 1 auto;
  margin: 0 20px 20px 0;
  font-size: 0.625rem;
  text-align: center;
  line-height: 0.8rem; }
  @media only screen and (min-width: 736px) {
    .featuresListItem {
      white-space: nowrap; } }

.featuresListLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  margin-bottom: 10px; }

.visualizationsSection {
  color: #fff;
  background-image: linear-gradient(-135deg, #0BCCE8 0%, #10A1CE 100%); }

.visualizationsList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 4rem 6rem;
  list-style-type: none; }

.visualization {
  display: inline-block;
  width: 16.6666666667%;
  text-align: center; }
  @media only screen and (max-width: 735px) {
    .visualization {
      width: 33.3333333333%; } }

.visualizationImage {
  display: inline-block;
  margin-bottom: 2.5rem; }

.visualizationTitle {
  display: block;
  font-size: 1.1rem; }

.productShowcaseSection {
  padding: 4.375rem;
  background-color: #f0f0f0; }
  @media only screen and (max-width: 735px) {
    .productShowcaseSection {
      padding-right: 1.25rem;
      padding-left: 1.25rem; } }

.productShowcase {
  position: relative; }
  @media only screen and (min-width: 736px) {
    .productShowcase {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 320px; } }

.productShowcaseInner {
  display: inline-block; }
  @media only screen and (min-width: 736px) {
    .productShowcaseInner {
      margin-left: -430px;
      padding-right: 30px;
      border-right: 1px solid rgba(0, 0, 0, 0.33); } }

.productShowcaseBlock {
  text-align: left; }
  .productShowcaseBlock:nth-child(1) .productShowcaseTitle h4::before {
    content: "1."; }
  .productShowcaseBlock:nth-child(2) .productShowcaseTitle h4::before {
    content: "2."; }
  .productShowcaseBlock:nth-child(3) .productShowcaseTitle h4::before {
    content: "3."; }
  .productShowcaseBlock:nth-child(4) .productShowcaseTitle h4::before {
    content: "4."; }
  .productShowcaseBlock:nth-child(5) .productShowcaseTitle h4::before {
    content: "5."; }
  .productShowcaseBlock:nth-child(6) .productShowcaseTitle h4::before {
    content: "6."; }
  .productShowcaseBlock:nth-child(7) .productShowcaseTitle h4::before {
    content: "7."; }
  .productShowcaseBlock:nth-child(8) .productShowcaseTitle h4::before {
    content: "8."; }
  .productShowcaseBlock:nth-child(9) .productShowcaseTitle h4::before {
    content: "9."; }
  .productShowcaseBlock:nth-child(10) .productShowcaseTitle h4::before {
    content: "10."; }
  @media only screen and (max-width: 735px) {
    .productShowcaseBlock {
      margin-top: 1rem; }
      .productShowcaseBlock label {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0); } }

.productShowcaseSwitch {
  display: none; }
  @media only screen and (min-width: 736px) {
    .productShowcaseSwitch:checked ~ .productShowcaseTitle h4, .productShowcaseSwitch:hover ~ .productShowcaseTitle h4, .productShowcaseSwitch:active ~ .productShowcaseTitle h4 {
      border-color: #14b2e2; }
    .productShowcaseSwitch:checked ~ .productShowcaseTitle:after {
      content: '';
      position: absolute;
      top: 12px;
      right: -40px;
      width: 18px;
      height: 18px;
      border-top: 1px solid rgba(0, 0, 0, 0.33);
      border-right: 1px solid rgba(0, 0, 0, 0.33);
      background-color: #f0f0f0;
      transform: rotate(45deg); }
    .productShowcaseSwitch:checked ~ .productShowcaseExample {
      display: flex; } }

.productShowcaseTitle {
  position: relative;
  text-align: left;
  cursor: pointer;
  transition: all 0.2s; }
  .productShowcaseTitle h4 {
    display: inline-block;
    height: 1.6rem;
    margin: 0.4rem 0;
    border-bottom: 2px solid rgba(20, 178, 226, 0);
    color: #464e56;
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 1.6rem;
    white-space: nowrap; }
    .productShowcaseTitle h4::before {
      margin-right: 4px; }

.productShowcaseExample {
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff; }
  .productShowcaseExample .exampleCode {
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent; }
  .productShowcaseExample ol {
    padding: 1.56rem 1.3rem 1.56rem 2.5rem;
    list-style-type: decimal;
    color: #464e56;
    font-size: 0.9rem; }
    .productShowcaseExample ol img,
    .productShowcaseExample ol .exampleCode {
      padding: 0.5rem; }
  .productShowcaseExample .codeNote {
    margin-left: 0;
    padding: 0.5rem 1.3rem;
    color: #94a1ad;
    font-size: 0.9rem; }
  @media only screen and (min-width: 736px) {
    .productShowcaseExample {
      position: absolute;
      top: 50%;
      right: 20px;
      left: 50%;
      display: none;
      flex-direction: column;
      justify-content: center;
      max-width: 630px;
      transform: translateY(-50%); } }

.productShowcaseLink {
  display: inline-block;
  margin: 3rem 0; }

.featuresBlock {
  display: flex;
  align-items: center;
  color: #464e56; }
  @media only screen and (max-width: 735px) {
    .featuresBlock {
      flex-wrap: wrap; } }

@media only screen and (min-width: 736px) {
  .featuresBlockText-right .featuresText {
    order: 1; } }

.featuresBlockText-center {
  flex-wrap: wrap; }
  .featuresBlockText-center,
  .featuresBlockText-center .featuresText {
    text-align: center; }
  .featuresBlockText-center .featuresText,
  .featuresBlockText-center .featuresExample {
    flex: 1 1 100%; }
  .featuresBlockText-center .featuresExample {
    padding-top: 0; }

.featuresText,
.featuresExample {
  padding: 4rem 2rem;
  flex: 1 1 50%; }
  @media only screen and (max-width: 735px) {
    .featuresText,
    .featuresExample {
      padding: 2rem;
      flex-basis: 100%; } }

.featuresText {
  text-align: left; }
  .featuresText .buttonWrapper {
    display: inline-block; }

.featuresLink {
  display: inline-block;
  margin: 2rem 0; }

.featuresExample {
  text-align: left; }

.exampleCode,
.exampleImageImage {
  padding: 2rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff; }

.exampleImageNoBorder,
.exampleImageBlueBorder {
  box-shadow: none; }

.exampleImageNoBorder {
  padding: 0; }

.exampleImageBlueBorder {
  border: 2px solid #14b2e2;
  background-color: rgba(20, 178, 226, 0.5); }

.exampleCode {
  margin: 0;
  padding: 1.56rem 1.3rem;
  border: none;
  border-radius: 0;
  white-space: pre-wrap; }
  .exampleCode .highlighting {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none; }

.exampleImage {
  position: relative;
  overflow: hidden;
  margin: 0 -1rem -1rem;
  padding: 1.75rem 1rem 1rem; }
  .exampleCode + .exampleImage::before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2.19rem;
    height: 2.19rem;
    margin-top: -3.5rem;
    margin-left: -1.57rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    transform: rotate(45deg); }

.exampleImageImage {
  width: 100%; }

.featuresBlockGallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style-type: none;
  text-align: center; }

.featuresBlockGalleryItem {
  flex: 1 1 25.5rem;
  max-width: 25.5rem;
  min-width: 15rem;
  margin: 0 0.625rem; }

.featuresBlockGalleryTitle {
  margin: 0.4rem 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5rem;
  font-weight: bold; }

.featuresBlockGalleryImage {
  width: 100%;
  padding-top: 54.545%;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
  background-repeat: no-repeat;
  background-size: cover; }

.charting-lib-logo {
  display: inline-block;
  margin: 0.5rem 1.5rem 0.5rem 0;
  vertical-align: middle; }

.d3-logo {
  width: 46px;
  height: 43px; }

.highcharts-logo {
  width: 190px;
  height: 37px; }

.chartjs-logo {
  width: 143px;
  height: 63px; }

/*# sourceMappingURL=custom.css.map */
